body{
  background-color: AliceBlue;
  text-align: center;
  margin: 50px;
  justify-content: center;
}

header{
  color: black;

}
.nav-link{
  color: red;
  margin-left: 50px;
  text-align: right;
  padding: 30px;
  }
form{
  size: 40px 40px 40px 40px;
  position: center;
  margin: 150px 50px 50px 50px;
}
nav{
  position: fixed;
  background-color: aqua;
}
#video{
  z-index: 10px;
}
.flex-container{
  display: flexbox;
  flex-direction: row;
  justify-content: center;
}
