body{
  background-color: AliceBlue;
  margin: 50px;
  justify-content: center;
}

header{
  color: black;

}
.nav-link{
  color: red;
  margin-left: 50px;
  text-align: right;
  padding: 30px;
  }
form{
  size: 40px 40px 40px 40px;
  position: center;
  margin: 50px 50px 50px 50px;
}
#nav-bar{
  position: fixed;
  background-color: aqua;
  width: fit-content;
  top: 0px;
}
#video{
  z-index: 10px;
}
.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media(max-width: 800px){
  body{
    background-color: burlywood;
  }
}